.leaderboard {
    max-width: 490px;
    width: 100%;
    border-radius: 12px;
}

header {
    --start: 65%;

    height: 130px;
    background-image: repeating-radial-gradient(circle at var(--start), transparent 0%, transparent 10%, rgba(62, 97, 223, 0.33) 10%, rgba(54, 89, 219, .33) 17%), linear-gradient(to right, #5b7cfa, #3659db);
    color: #fff;
    position: relative;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    padding: 20px;
}
    .leaderboard__title {
        position: absolute;
        z-index: 2;
        top: 50%;
        right: calc(var(--start) * .75);
        transform: translateY(-50%);
        text-transform: uppercase;
        margin: 0;
    }
        span {
            display: block;
        }

body {
    margin: 0;
    background-color: black;
    display: grid;
    height: 100vh;
    place-items: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.leaderboard {
    width: 120%;
    box-shadow: 0 12px 40px -10px rgba(12, 0, 0, .4);

}
.leaderboard__profile{
    background-color: white;
    width: 90%;
    border: 1px solid black;
    margin: 20px;
    box-shadow: 1px 2px 4px 1px black;
}
.home{
    text-decoration: none;
     position: absolute; 
     top: 0%; left: 23%;
      color:white
}
.home:hover{
    color: tomato;
}
.leaderboard__profile:hover{
    background-color: rgb(126, 95, 95);
    color: white;
}